Django~=3.2
django-debug-toolbar
django-filter
djangorestframework
dj-database-url
django-rest-auth==0.9.5
django-cors-headers
djangorestframework-jwt
django_cleanup
djangorestframework_simplejwt
python-dotenv
locust
gunicorn==20.1.0
model_bakery
mysqlclient==2.0.3
pillow
pytest
pytest-django
requests
whitenoise==5.3.0
xmltodict
